<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>releases-ee</id>
			<username>${mule.ee.username}</username>
			<password>${mule.ee.password}</password>
		</server>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>~~~Client~~~</username>
			<password>${ap.ca.client_id}~?~${ap.ca.client_secret}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>standard-repositories</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>anypoint-exchange-v3</id>
					<name>Anypoint Exchange</name>
					<url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
